<button type="submit" 
        name="routeFlag" 
        value="routeToDecoErrorUpdate"
        form="bulk_action">
  <%= image_tag("eye.svg", class: "icon") %>
</button>
<button type="submit" 
        name="routeFlag" 
        value="routeToDecoErrorUpdate"
        form="bulk_action">
  <%= image_tag("eye-closed.svg", class: "icon") %>
</button>
<button type="submit" 
        name="routeFlag" 
        value="routeToDecoErrorDestroy"
        form="bulk_action">
  <%= image_tag("trash.svg", class: "icon") %>
</button>
<button type="submit" 
        name="routeFlag" 
        value="routeToApplicationRunRuleEngine"
        form="bulk_action">
  <%= image_tag("rule-engine.svg", class: "icon") %>
</button>
