<div class="dropdown">
  <%= image_tag("hamburger.svg", class: "icon") %>
  <div class="dropdown-content">
    <div class="layer">
      <a class="modal-trigger" data-target="#add_deco_error">Add_Error</a>
    </div>
    <div class="layer">
      <a href="#">Link 2</a>
    </div>
    <div class="layer">
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
