<div id="add_deco_error" class="modal">
  <div class="modal-contents vertical-container">
    <div class="layer">
      <div class="left">
        <h1> Create folder </h1>
      </div>
      <div class="right">
        <button class="close-modal">
          <%= image_tag("close.svg", class: "icon") %>
        </button>
      </div>
    </div>
    <div class="clarifier">
      Name your new folder and select the parent folder you want to put it in. 
      If you do not select a parent folder, this new folder will be created as 
      a top level folder.
    </div>
  </div>
</div>
