<!-- This partial is not currently being used. Consider deleting it. -->
<div class="top-bar-contents horizontal-container">
  <div class="left">
    <%= image_tag("logo_text_horizontal_black.svg", class: "logo white") %>
    <%= render "/shared/dropdown_menu", filters: @filters %>
  </div>
  <div class="right"></div>
</div>
<div class="top-bar-modals">
  <%= render partial: "/shared/modal", 
             locals: {modal_id: "new-filter",
                      form_id: "new-filter-form",
                      title: "Create filter",
                      form_path: "filters/new",
                      form_params: @new_filter_form_params} %>
</div>
