/* 
Table of Contents
* Variables
* General (elements that appear in more than one category)
  * Color Variables
  * Text
  * Structure
  * Images
  * Modals
  * Forms
  * Buttons
* top-bar
  * Dropdown menu
* side-bar
* main-content
* footer

Template for ordering css properties
.selector {
  // Positioning 
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  // Display & Box Model 
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  // Color 
  background: #000;
  color: #fff
  
  // Text 
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  // Other 
  cursor: pointer;
}
*/

/* ############################################################################# */
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General - Color Variables ------------------------------ */
$theme-green: #2b3f27; //20% light
$theme-green-dark: #152013; //10% light
$theme-green-light: #567e4e; //40% light
$theme-green-very-light: #c4d8c0; //80% light
$hue-rotate-white: invert(98%) sepia(43%) saturate(292%) hue-rotate(244deg) brightness(119%) contrast(100%);
$hue-rotate-black: invert(0%) sepia(2%) saturate(8%) hue-rotate(0deg) brightness(98%) contrast(102%);

/* General - Text ------------------------------ */
h1 {
  line-height: 40px;
  white-space: nowrap;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* General - Structure ------------------------------ */
.horizontal-container {
  display: flex;
  justify-content: space-between;
}

.vertical-container {
}

.layer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 10px 0 10px;
  line-height: 40px;
}

.left {
  display: flex;
  overflow: hidden;
}

.right {
  display: flex;
}

/* General - Images ------------------------------ */
.icon {
  height: 20px;
  margin: 10px;
}

.black {
  filter: $hue-rotate-black;
}

.white {
  color: black;
  filter: $hue-rotate-white;
}

/* General - Modals ------------------------------ */
.modal-contents {
  z-index: 3;
  width: 800px;
  padding: 40px;
  border-radius: 5px;
  background-color: white;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: hsla(55, 33%, 90%, 0.4);
}

#progress-bar {
  height: 20px;
  border-radius: 10px;
  background-color: $theme-green;
  transition: width 0.2s;
}

.progress-bar-background {
  height: 20px;
  padding: 0;
  border-radius: 10px;
  background-color: $theme-green-very-light;
}

/* General - Forms ------------------------------ */
input[type="text"], select {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid $theme-green-very-light;
  border-radius: 5px;
  margin-top: 5px;
  background-color: white;
}

input[type="number"] {
  width: 75px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid $theme-green-very-light;
  border-radius: 5px;
  margin-top: 5px;
}


input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 10px;
}

input[type="submit"] {
  height: 30px;
  padding: 0 10px 0 10px; 
  border: 3px solid $theme-green-very-light;
  border-radius: 8px;
  margin-top: 5px;
  background-color: $theme-green-very-light;
  transition: 0.4s;
}

input[type="submit"]:hover {
  border: 3px solid $theme-green-light;
  background-color: $theme-green-light;
}

.field_with_errors input[type="text"], 
.field_with_errors select,
.field_with_errors input[type="number"],
.field_with_errors input[type="checkbox"],
.field_with_errors input[type="submit"]
 {
  border: 2px solid #ff0000;
  background-color: #ff9999;
}

label {
  width: 200px;
}

.clarifier {
  padding-left: 10px;
  border-left: 3px solid $theme-green-light;
  margin-left: 10px;
}

/* General - Buttons ------------------------------ */
button {
  background-color: transparent;
  border: none;
}

/* ############################################################################# */
/* top-bar-contents */
.top-bar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 40px;
  background-color: $theme-green;
}

.tool-bar {
  display: flex;
  width: 100%;
}

.logo {
  height: 40px;
}

.display-none {
  display: none;
}

.filter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar {
  width: 360px;
  height: 30px;
  padding: 0 40px 0 20px;
  border-radius: 10px;
  margin: 5px 20px 0 0;
  background-color: white;
}

.search-bar input[type="text"], .search-bar select {
  width: 150px;
  border: 0;
  margin: 0;
}

.search-bar .icon {
  margin: 5px 0 0 5px;
}

/* top-bar - dropdown menu ------------------------------ */
.dropdown {
}
 
.dropdown-content {
  position: absolute;
  top: 40px;
  display: none;
  width: 200px;
  background-color: $theme-green-light;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
 
.dropdown-content a {
  display: block;
  color: white;
}
 
.dropdown:hover .dropdown-content {
  display: block;
}

.export {
  width: 690px;
  height: 350px;
  margin-left: 10px;
}

/* ############################################################################# */
/* side-bar */
.side-bar-contents {
  position: fixed;
  overflow: auto;
  width: 348px;
  height: 100vh;
  margin-top: 40px;
  color: white;
  background-color: $theme-green;
}

.indentation {
  margin-right: 20px;
}

/* ############################################################################# */
/* main-content */
.main-content {
  /* 348px for the side-bar and 15px for the scroll bar */
  width: calc(100vw - 348px - 15px);
  margin: 40px 0px 0px 250px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

#page-nav-input-field {
  width: 50px;
}

.visibility-hidden {
  visibility: hidden;
}

.flex-box {
  display: flex;
}

.category {
  width: 200px;
  border-top: 1px solid $theme-green-light;
}

.category-no-border {
  width: 200px;
}

.field-title {
  width: 200px;
  border-top: 1px solid $theme-green-light;
}

.field-data {
  min-width: 150px;
  /* 348px for the side-bar, 200px each for .category and .field-title
     and 15px for the scroll bar */
  width: calc(100vw - 348px - 400px - 15px);
  border-top: 1px solid $theme-green-light;
}

.deco-error-layer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.read {
  background-color: $theme-green-very-light;
}