<div class="wrapper">
  <!-- Top Bar -->
  <div class="top-bar">
    <%= render "/shared/show_top_bar" %>
  </div>
  <div class="horizontal-container">
    <!-- Side Bar -->
    <div class="side-bar">
      <%= render "/shared/show_side_bar" %>
    </div>
    <!-- Main Content -->
    <div class="main-content">
    </div>
  </div>
</div>
