<div class="wrapper">
  <div class="landing-page">
  </div>
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="top-bar-contents horizontal-container">
      <div class="left">
        <%= image_tag("logo_text_horizontal_black.svg", class: "logo white") %>
      </div>
      <div class="right">
        <button>
          <%= link_to "/folders/1", remote: true, class: "white" do |_| %>
            VIEW DEMO
          <% end %>
        </button>
      </div>
    </div>
  </div>
  <div class="horizontal-container">
    <!-- Side Bar -->
    <div class="side-bar">
    </div>
    <!-- Main Content -->
    <div class="main-content">
    </div>
  </div>
</div>
